@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&display=swap");

body {
  background: url(/assets/images/movie_night.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1200px;
  background-position-x: center;
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #85b3d1ff;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.search_text {
  display: flex;
  flex: wrap;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 18px;
  outline: none;
  color: #666;
  margin-bottom: 20px;
  width: 370px;
}

svg {
  height: 23px;
  width: 50px;
  margin: -55px;
  margin-left: 260px;
}

svg:hover {
  color: #0063b2ff;
}

#movies {
  margin-top: 80px;
}
