header {
  height: 50px;
  background-color: #2460a7ff;
  width: 100%;
  color: #f0f6f7ff;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
