.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url(/assets/images/login.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 700px;
  background-color: #85b3d1ff;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
